/* iPhone 6 Plus Skin	*/
/* @ Ryuzine Writer 	*/
/* @ version 1.0		*/
/* OS: iOS				*/
/* Width: 736			*/
/* Height: 414			*/

.simbox {
background: #c3f0ff;
background: -moz-linear-gradient(top,  #c3f0ff 0%, #eee5f6 50%, #717ce6 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c3f0ff), color-stop(50%,#eee5f6), color-stop(100%,#717ce6));
background: -webkit-linear-gradient(top,  #c3f0ff 0%,#eee5f6 50%,#717ce6 100%);
background: -o-linear-gradient(top,  #c3f0ff 0%,#eee5f6 50%,#717ce6 100%);
background: -ms-linear-gradient(top,  #c3f0ff 0%,#eee5f6 50%,#717ce6 100%);
background: linear-gradient(to bottom,  #c3f0ff 0%,#eee5f6 50%,#717ce6 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3f0ff', endColorstr='#717ce6',GradientType=0 );
background-attachment: fixed; 	/* req by Firefox or white bg */

}
#device.portrait {
	height: 976px;
	width: 494px;
	position: relative;
	margin-top: -488px;
	margin-left: -247px;
	padding: 0;
	background: transparent url('iphone6plus_port.png') 0 0 no-repeat;
}
	#device.portrait #screen {
		position: relative;
		left: 40px;
		top: 119px;
		width: 414px;
		height: 736px;
	}

#device.landscape {
	height: 494px;
	width: 976px;
	position: relative;
	margin-top: -247px;
	margin-left: -488px;
	padding: 0;
	background: transparent url('iphone6plus_land.png') 0 0 no-repeat;
}
	#device.landscape #screen {
		position: relative;
		top: 40px;
		left: 119px;
		width: 736px;
		height: 414px;
	}

/* Screen Only Centering */
	#device.portrait.noskin {
		margin-top: -368px;
		margin-left: -207px;
	}
	#device.landscape.noskin {
		margin-top: -186px;
		margin-left: -207px;
	}